*.pyc
*loops.out*
*logfile.txt
2_models/*_*
2_models/sellyOakFlows
4_simulation/results
4_simulation/test_results
4_simulation/simple
5_resultsAnalysis/*.pdf
5_resultsAnalysis/old/
5_resultsAnalysis/png/
testing
info
*.xmle
5_resultsAnalysis/pngs
singularityConfig.txt
*.zip
*.log

